body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

img {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 20vh; /* Adjust as needed */
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 5vh; /* Adjust as needed */
    text-align: center;
}

ul li {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

