body {
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    width: 100%; /* Set image width to 100% of viewport width */
    height: 100%; /* Set image height to 100% of viewport height */
    object-fit: cover; /* Ensure the image covers the entire viewport */
    position: fixed; /* Fix the image position */
    top: 0;
    left: 0;
    z-index: -1; /* Place the image behind other content */
}

h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    margin: 0;
    padding: 0;
    width: 80%;
}

ul {
    color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

li {
    margin-bottom: 1em; /* Adjust bottom margin to space out list items */
}
