body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white; /* Set text color to white */
}

img {
    width: 100vw; /* Set image width to 100% of viewport width */
    height: 100vh; /* Set image height to 100% of viewport height */
    object-fit: cover; /* Ensure the image covers the entire viewport */
    position: absolute; /* Position the image absolutely */
    top: 0;
    left: 0;
    z-index: -1; /* Place the image behind other content */
}

h1 {
    text-align: center;
    margin-top: 20vh; /* Adjust top margin to position the heading */
    -webkit-text-stroke: 0.5px black; /* Add black stroke with 0.5px thickness */
    text-shadow: 
        -5px -5px 0 #000, 5px -5px 0 #000,
        -5px 5px 0 #000, 5px 5px 0 #000; /* Add thicker black outline */
}

ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin-top: 5vh; /* Adjust top margin to space out the list */
}

li {
    margin-bottom: 1em; /* Adjust bottom margin to space out list items */
    -webkit-text-stroke: 0.5px black; /* Add black stroke with 0.5px thickness */
    text-shadow: 
        -5px -5px 0 #000, 5px -5px 0 #000,
        -5px 5px 0 #000, 5px 5px 0 #000; /* Add thicker black outline */
}
